<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ecf.server.generic.configuration">
      <connector
            discovery="true"
            hostname="localhost"
            keepAlive="30000"
            port="4280">
         <group
               name="mygroup">
         </group>
      </connector>
   </extension>

</plugin>
