<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.examples.remoteservices.soap.aeroflot.AeroflotSoapClientContainerInstantiator"
            name="ecf.aeroflot.soap.client">
      </containerFactory>
   </extension>

</plugin>
